#!/usr/bin/env bash

# Enable auto-completion.

if HOOK=$(drupal _completion -g -p drupal); then
  # See https://github.com/stecman/symfony-console-completion/#zero-config-use
  eval $(echo "$HOOK")
  echo "$HOOK" | source /dev/stdin
  source <(echo "$HOOK") 2>/dev/null
fi
